[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
numpy = "*"
opencv-contrib-python = "==3.4.2.16"

[dev-packages]

[requires]
python_version = "3.6"
